.courses {
  width: 40%;
}
.comment {
  width: 60%;
}
.card-comment {
  &-img {
    width: 40px;
    height: 40px;
    overflow: hidden;

    img {
      width: 40px;
      position: relative;
      top: -8px;
    }
  }
}
.card-comment-text {
  .btn {
    span {
      position: relative;
      top: 4px;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.card-reply-icon {
  a:nth-child(1) {
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0;
    }
  }
}
.card-reply-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
