.ps-2-5 {
  padding-left: $spacer * 0.75; //12
}
.ps-8 {
  padding-left: $spacer * 2; //32
}
.ps-12 {
  padding-left: $spacer * 3; //48
}
.pe-2-5 {
  padding-right: $spacer * 0.75; //12
}
.pt-2-5 {
  padding-top: $spacer * 0.75; //12
}
.pt-8 {
  padding-top: $spacer * 2;
}
.pb-2-5 {
  padding-bottom: $spacer * 0.75; //12
}
.pb-8 {
  padding-bottom: $spacer * 2;
}
.px-8 {
  padding-right: $spacer * 2; //32
  padding-left: $spacer * 2;
}
.py-8 {
  padding-top: $spacer * 2; //32
  padding-bottom: $spacer * 2;
}
.mt-8 {
  margin-top: $spacer * 2; //32
}
.mb-2-5 {
  margin-bottom: $spacer * 0.75; //12
}

.mb-8 {
  margin-bottom: $spacer * 2; //32
}
.ms-8 {
  margin-left: $spacer * 2; //32
}
.me-12 {
  margin-right: $spacer * 3; //48
}
.fs-xs {
  font-size: $font-size-base * 0.75; //12
}
.fs-sm {
  font-size: $font-size-sm; //14
}
.text-gray-600 {
  color: $gray-600;
}
